
.content {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.content form {
    margin-top: 15px;
}

.forma {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.forma th, .forma td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.forma th {
    text-align: left;
    font-weight: bold;
}

.forma td input[type="text"],
.forma td input[type="password"],
.forma td input[type="date"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.forma td input[type="submit"] {
    padding: 5px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.forma td input[type="submit"]:hover {
    background-color: #0056b3;
}






