* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Osnovni stil za cijelu tablicu */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px; /* Prilagodite širinu prema potrebi */
    margin: 20px auto;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
}

/* Stil za zaglavlje tablice */
th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Stil za neparni red tablice */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Stil za parni red tablice */
tr:nth-child(even) {
    background-color: #ffffff;
}

/* Stil za ćelije */
td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Stil za linkove */
a {
    text-decoration: none;
    color: #007bff;
}

/* Stil za linkove pri hoveru */
a:hover {
    text-decoration: underline;
}

/* Stil za ul listu */
ul {
    list-style: none;
    padding-left: 0;
}

/* Stil za stavke liste */
li {
    margin-bottom: 5px;
}