table.horizontalni-meni {
	margin-top: 20px;
}
table.horizontalni-meni ul {
	display: inline;
	padding: 0;
}
table.horizontalni-meni li {
	float: left;
	padding: 5px;
	margin: 2px;
	display: inline;
	background-color: White;
}
table.horizontalni-meni td {
	background-color: Red;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333; /* Boja pozadine menija */
	overflow: hidden;
}

.navigation li {
	float: left;
}

.navigation li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navigation li a:hover {
	background-color: #555; /* Boja pozadine na hoveru */
}

/* Aktivna stavka menija */
.navigation li.active a {
	background-color: #f2f2f2; /* Boja pozadine aktivne stavke */
	color: #333; /* Boja teksta aktivne stavke */
}