/* Stilizacija za tabelu */
table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin-top: 20px;
}

table caption {
	font-weight: bold;
	margin-bottom: 10px;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

table th {
	background-color: #f2f2f2; /* Boja pozadine zaglavlja tabele */
}

table tr:nth-child(even) {
	background-color: #f2f2f2; /* Boja pozadine parnih redova */
}

table tr:hover {
	background-color: #ddd; /* Boja pozadine na hoveru */
}

/* Stilizacija za linkove */
table a {
	text-decoration: none;
	color: #007bff; /* Boja linkova */
}

table a:hover {
	text-decoration: underline;
}

/* Stilizacija za dugme Obriši */
table form input[type="submit"] {
	background-color: #dc3545; /* Boja pozadine dugmeta */
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

table form input[type="submit"]:hover {
	background-color: #c82333; /* Boja pozadine dugmeta na hoveru */
}

.search-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

/* Stilizacija za search input polje */
.search-form input[type="text"],
.search-form input[type="number"],
.search-form select {
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

/* Stilizacija za dugme */
.search-form input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	cursor: pointer;
	font-size: 14px;
}

.search-form input[type="submit"]:hover {
	background-color: #0056b3;
}

