<style>
    /* Stil za tabelu i redove */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Stil za prvi red sa porukom */
th:first-child {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Stil za drugi red sa linkovima */
td ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

td ul li {
    margin-bottom: 5px;
}

td ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

td ul li a:hover {
    text-decoration: underline;
}
</style>