<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <base th:href="@{/}">
  <title>Dodaj vakcinu</title>
  <link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
  <link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>

</head>
<body>
<h2>EUprava</h2>
<nav>
  <div class="navigation">
    <ul>
      <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
      ><a href="korisnici" >Korisnici</a></li>
      <li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
      <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">
        <a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
      <li><a href="vesti"> Danasnje Vesti</a></li>
      <li><a href="vestiOObolelima">Statistika o obolelima</a></li>
      <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
        <a href="primljeneVakcine">Primljene vakcine</a></li>
      <li  th:if="${session.korisnik != null}">
        <a href="prijaveZaVakcinaciju">Prijavati se za vakcinaciju</a></li>
      <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() != 'PACIJENT'}">
        <a href="nabavke">Nabavka</a></li>
      <li><a href="">Odjavite se</a></li>
    </ul>
  </div>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class="content">
  <div class = "content">
    <form method="post" action="vakcine/add">
      <table>
        <caption>Vakcina</caption>
        <tr><th>Ime:</th><td><input type="text" value="" name="ime" required/></td></tr>

        <tr>
          <th>Proizvodjac vakcine:</th>
          <td>
            <select name = "proizvodjacId">
              <option th:each="itProizvodjacVakcine: ${session.proizvodjaciVakcine}"
                      th:value="${itProizvodjacVakcine.id}"
                      th:text="|${itProizvodjacVakcine.proizvodjac} , ${itProizvodjacVakcine.drzavaProizvodnje} |">
              </option>
            </select>

          </td>
        </tr>
        <tr><th></th><td><input type="submit" value="Dodaj"/></td>
      </table>

    </form>
  </div>
</section>
<br/>
</body>
</html>