<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Dodaj vest</title>
    <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
    <link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>

</head>
<body>
<h2>EUprava</h2>
<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>
<nav>
    <div class="navigation">
        <ul>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
            ><a href="korisnici" >Korisnici</a></li>
            <li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">
                <a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
            <li><a href="vesti">Vesti</a></li>
            <li><a href="vestiOObolelima">Statistika o obolelima</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
                <a href="primljeneVakcine">Primljene vakcine</a></li>
            <li  th:if="${session.korisnik != null}">
                <a href="prijaveZaVakcinaciju">Prijavite se za vakcinaciju</a></li>


            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() != 'PACIJENT'}">
                <a href="nabavke">Nabavka</a></li>
            <li><a href="">Odjava</a></li>
        </ul>
    </div>
</nav>


<section class="content">
    <div class = "content">
        <form method="post" action="vesti/add">
            <table>
                <caption>Vest</caption>
                <tr><th>Naziv:</th><td><input type="text" value="" name="nazivVesti" required/></td></tr>
                <tr><th>Sadrzaj:</th><td><input type="text" value="" name="sadrzajVesti" required/></td></tr>
                <tr><th>Datum i vreme objavljivanja:</th><td><input type="datetime-local" name="datumIVremeObjavljivanja" required/></td></tr>
                <tr><th></th><td><input type="submit" value="Dodaj novu vest"/></td>
            </table>
        </form>
    </div>
</section>
<br/>
</body>
</html>