<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Prijava</title>
    <link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
    <link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>

</head>
<body>
<h2>EUprava</h2>
<nav>
    <div class="navigation">
        <ul>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
            ><a href="korisnici" >Korisnici</a></li>
            <li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">
                <a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
            <li><a href="vesti">Vesti</a></li>
            <li><a href="vestiOObolelima">Statistika o obolelima</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
                <a href="primljeneVakcine">Primljene vakcine</a></li>
            <li  th:if="${session.korisnik != null}">
                <a href="prijaveZaVakcinaciju">Prijava za vakcinaciju</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() != 'PACIJENT'}">
                <a href="nabavke">Nabavka</a></li>
            <li><a href="">Odjava</a></li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class="content">
    <div class = "content">
        <form method="post" action="prijaveZaVakcinaciju/add">
            <table>
                <caption>Prijava za vakcinaciju</caption>

                <tr>
                    <th>Pacijent:</th>
                    <td>
                        <select  name = "korisnikId">
                            <option th:each="itKorisnik: ${session.korisnici}"
                                    th:value="${itKorisnik.id}"
                                    th:text="|${itKorisnik.ime}  ${itKorisnik.prezime} |"
                                    th:if = "${itKorisnik.uloga.toString() == 'PACIJENT' && itKorisnik.id == session.korisnik.id}" >
                            </option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <th>Vakcina:</th>
                    <td>
                        <select name = "vakcinaId">
                            <option th:each="itVakcina: ${session.vakcine}"
                                    th:value="${itVakcina.id}"
                                    th:text="|${itVakcina.ime} |"
                                    th:if="${itVakcina.dostupnaKolicina > 0 }">
                            </option>
                        </select>

                    </td>

                </tr>
                <tr>
                    <th>Doza:</th>
                    <td>
                        <select name="doza">
                            <option th:each="edoza: ${T(com.ftn.EUprava.model.EDoza).values()}"
                                    th:value="${edoza}"
                                    th:text="${edoza}">
                            </option>
                        </select>
                    </td>

                </tr>
                <tr><th></th><td><input type="submit" value="Prijavi se"/></td>
            </table>

        </form>
    </div>
</section>
<br/>
</body>
</html>