<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<title>Korisnici</title>
	<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
<h2>EUprava</h2>
<nav>
	<div class="navigation">
		<ul>
			<li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
			><a href="korisnici" >Korisnici</a></li>
			<li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
			<li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">
				<a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
			<li><a href="vesti">Vesti</a></li>
			<li><a href="vestiOObolelima">Statistika o obolelima</a></li>
			<li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
				<a href="primljeneVakcine">Primljene vakcine</a></li>
			<li  th:if="${session.korisnik != null}">
				<a href="prijaveZaVakcinaciju">Prijava za vakcinaciju</a></li>
			<li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() != 'PACIJENT'}">
				<a href="nabavke">Nabavka</a></li>
		</ul>
	</div >
</nav>

<section class="registrationForm">
	<div class = "registrationForm">
		<table th:unless="${session.korisnik == null}">
			<tr>
				<td colspan="2">
					<ul>
						<li><a href="korisnici/logout">Odjava</a></li>
					</ul>
				</td>
			</tr>
		</table>
		<table th:if="${session.korisnik == null}">
			<tr><th>Niste prijavljeni</th></tr>
			<tr>
				<td>
					<ul>
						<li><a href="registracija.html">Registracija</a></li>
						<li><a href="prijava.html">Prijava</a></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</section>

<section class="content">
	<div class = "content" th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">

		<table>
			<caption>Prikaz svih korisnika</caption>
			<tr>
				<th>R. br.</th>
				<th></th>
				<th>Email</th>
				<th>Ime</th>
				<th>Prezime</th>
				<th>Datum rodjenja</th>
				<th>JMBG</th>
				<th>Adresa</th>
				<th>Broj telefona</th>
				<th>Datum i vreme registracije</th>
				<th> Uloga </th>
				<th></th>

			</tr>
			<tr th:each="itKorisnik, status: ${korisnici}">

				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>
				<td><a  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
						th:href="|korisnici/details?id=${itKorisnik.id}|" th:text="${itKorisnik.ime}"></a></td>



				<td th:text="${itKorisnik.email}"></td>
				<td th:text="${itKorisnik.ime}"></td>
				<td th:text="${itKorisnik.prezime}"></td>
				<td th:text="${itKorisnik.datumRodjenja}"></td>
				<td th:text="${itKorisnik.jmbg}"></td>
				<td th:text="${itKorisnik.adresa}"></td>
				<td th:text="${itKorisnik.brojTelefona}"></td>
				<td th:text="${itKorisnik.datumIVremeRegistracije}"></td>
				<td th:text="${itKorisnik.uloga}"></td>
				<td>
					<form  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
						   method="post" action="korisnici/delete" >
						<input type="hidden"  name="id"  th:value="${itKorisnik.id}">
						<input type="submit"  value="Obriši" >
					</form>
				</td>
			</tr>

		</table>
	</div>
</section>



</body>
</html>