<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <base th:href="@{/}">
  <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
  <link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
  <link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
  <link rel="stylesheet" type="text/css" href="css/korisnik.css"/>

  <title>Selektovani Korisnik</title>
</head>
<body>
<h2>EUprava</h2>
<nav>
  <div class="navigation">
    <ul>
      <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
      ><a href="korisnici" >Korisnici</a></li>
      <li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
      <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">
        <a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
      <li><a href="vesti">Vesti</a></li>
      <li><a href="vestiOObolelima">Statistika o obolelima</a></li>
      <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
        <a href="primljeneVakcine">Primljene vakcine</a></li>
      <li  th:if="${session.korisnik != null}">
        <a href="prijaveZaVakcinaciju">Prijava za vakcinaciju</a></li>
      <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() != 'PACIJENT'}">
        <a href="nabavke">Nabavka</a></li>
      <li><a href="">Odjava</a></li>
    </ul>
  </div>
</nav>

<section class="content">
  <div class = "content">
    <form method="post" action="korisnici/edit">
      <input type="hidden" name="id" th:value="${korisnik.id}"/>
      <table class="forma">
        <caption>Korisnik</caption>
        <tr><th>Email:</th><td><input type="text" th:value="${korisnik.email}" name="email"/></td></tr>
        <tr><th>Lozinka:</th><td><input type="password" th:value="${korisnik.lozinka}" name="lozinka"/></td></tr>
        <tr><th>Ponovljena lozinka:</th><td><input type="password" th:value="${korisnik.lozinka}" name="ponovljenaLozinka"/></td></tr>
        <tr><th>Ime:</th><td><input type="text" th:value="${korisnik.ime}" name="ime"/></td></tr>
        <tr><th>Prezime:</th><td><input type="text" th:value="${korisnik.prezime}" name="prezime"/></td></tr>
        <tr><th>Datum rodjenja:</th><td><input type="date" th:value="${korisnik.datumRodjenja}" name="datumRodjenja"/></td></tr>
        <tr><th>JMBG:</th><td><input type="text" th:value="${korisnik.jmbg}" name="jmbg"/></td></tr>
        <tr><th>Adresa:</th><td><input type="text" th:value="${korisnik.adresa}" name="adresa"/></td></tr>
        <tr><th>Broj telefona:</th><td><input type="text" th:value="${korisnik.brojTelefona}" name="brojTelefona"/></td></tr>

        <tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>

      </table>
    </form>

    <form method="post" action="korisnici/delete">
      <input type="hidden" name="id" th:value="${korisnik.id}"/>
      <table class="forma">
        <tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
      </table>
    </form>
  </div>
</section>


</body>
</html>