<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Nabavke</title>
    <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
    <link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
    <link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
    <link rel="stylesheet" type="text/css" href="css/korisnik.css"/>

</head>
<body>
<h2>EUprava</h2>
<nav>

    <div class="navigation">
        <ul>


            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
            ><a href="korisnici" >Korisnici</a></li>
            <li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">
                <a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
            <li><a href="vesti">Vesti</a></li>

            <li><a href="vestiOObolelima">Statistika o obolelima</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
                <a href="primljeneVakcine">Primljene vakcine</a></li>
            <li  th:if="${session.korisnik != null}">
                <a href="prijaveZaVakcinaciju">Prijava za vakcinaciju</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() != 'PACIJENT'}">
                <a href="nabavke">Nabavka</a></li>


        </ul>

    </div>
</nav>

<section class="registrationForm">
    <div class = "registrationForm">
        <table th:unless="${session.korisnik == null}">

            <tr>
                <td colspan="2">
                    <ul>
                        <li><a href="korisnici/logout">Odjava</a></li>
                    </ul>
                </td>
            </tr>
        </table>
        <table th:if="${session.korisnik == null}">
            <tr><th>Niste prijavljeni</th></tr>
            <tr>
                <td>
                    <ul>
                        <li><a href="registracija.html">Registracija</a></li>
                        <li><a href="prijava.html">Prijava</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</section>

<section class="content">
    <div class = "content" th:if="${nabavke}">

        <table  class="tabela">
            <caption>Nabavke</caption>
            <tr>
                <th>R. br.</th>
                <th></th>
                <th>Vakcina</th>
                <th>Kolicina</th>
                <th>Datum i vreme nabavke</th>
                <th>Komentar</th>
                <th>Status</th>


                <th></th>
            </tr>

            <tr th:each="itNabavka, status: ${nabavke}"
                th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'} ?
					 ${itNabavka.status.toString() == 'POSLAT'} :
		 				(${session.korisnik != null && session.korisnik.uloga.toString() == 'MEDICINSKOOSOBLJE'} ?
						${itNabavka.status.toString() != 'POSLAT'} : true)">


                <td class="broj" th:text="${(status.index + 1)+'.'}"></td>
                <td><a th:href="|nabavke/details?id=${itNabavka.id}|" th:text="${itNabavka.vakcina.ime}"></a></td>
                <td th:text="${itNabavka.vakcina.ime}"></td>
                <td class="broj" th:text="${itNabavka.kolicina}"></td>
                <td th:text="${itNabavka.datumIVremeNabavke}"></td>
                <td th:text="${itNabavka.komentar}"></td>
                <td th:text="${itNabavka.status}"></td>

                <td>
                    <form  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'MEDICINSKOOSOBLJE'}"
                           method="post" action="nabavke/delete" >
                        <input type="hidden"  name="id"  th:value="${itNabavka.id}">
                        <input type="submit"  value="Otkazi nabavku" >
                    </form>
                </td>
            </tr>
        </table>
    </div>
</section>


<div class = 'btn'>
    <a  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'MEDICINSKOOSOBLJE'}"
        href="nabavke/add" class = "btn">Dodaj zahtev za nabavku</a>
</div>
</body>
</html>