<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>Proizvodjaci vakcine</title>
    <link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
    <link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
<h2>EUprava</h2>
<nav>
    <div class="navigation">
        <ul>
            <li th:if="${session.korisnik != null }"><a href="korisnici" >Korisnici</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
            ><a href="korisnici" >Korisnici</a></li>
            <li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">
                <a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
            <li><a href="vesti">Vesti</a></li>
            <li><a href="vestiOObolelima">Statistika o obolelima</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
                <a href="primljeneVakcine">Primljene vakcine</a></li>
            <li  th:if="${session.korisnik != null}">
                <a href="prijaveZaVakcinaciju">Prijava za vakcinaciju</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() != 'PACIJENT'}">
                <a href="nabavke">Nabavka</a></li>
        </ul>
    </div>
</nav>
<section class="registrationForm">
    <div class = "registrationForm">
        <table th:unless="${session.korisnik == null}">
            <tr><th>Prijavljeni ste kao</th><td><a th:href="|korisnici/details?id=${session.korisnik.id}|" th:text="${session.korisnik.email}"></a>.</td></tr>
            <tr>
                <td colspan="2">
                    <ul>
                        <li><a href="korisnici/logout">Odjava</a></li>
                    </ul>
                </td>
            </tr>
        </table>
        <table th:if="${session.korisnik == null}">
            <tr><th>Niste prijavljeni</th></tr>
            <tr>
                <td>
                    <ul>
                        <li><a href="registracija.html">Registracija</a></li>
                        <li><a href="prijava.html">Prijava</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</section>

<section class="content">
    <div class = "content" th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">

        <table>
            <caption>Proizvodjaci vakcine</caption>
            <tr>
                <th>R. br.</th>
                <th></th>
                <th>Naziv proizvodjaca</th>
                <th>Drzava proizvodnje</th>

                <th></th>
            </tr>
            <tr th:each="itProizvodjacVakcine, status: ${proizvodjaciVakcine}">
                <td class="broj" th:text="${(status.index + 1)+'.'}"></td>
                <td><a th:href="|proizvodjaciVakcine/details?id=${itProizvodjacVakcine.id}|" th:text="${itProizvodjacVakcine.proizvodjac}"></a></td>
                <td th:text="${itProizvodjacVakcine.proizvodjac}"></td>
                <td th:text="${itProizvodjacVakcine.drzavaProizvodnje}"></td>

                <td>
                    <form method="post" action="proizvodjaciVakcine/delete" >
                        <input type="hidden"  name="id"  th:value="${itProizvodjacVakcine.id}">
                        <input type="submit"  value="Obriši" >
                    </form>
                </td>
            </tr>
        </table>
    </div>
</section>
<div class = 'btn'>
    <a href="proizvodjaciVakcine/add" class = "btn">Dodaj novog proizvodjaca vakcine</a>
</div>
</body>
</html>