<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
    <title>Vakcine</title>
    <link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>
    <link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>

    <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
    <link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>

    <link rel="stylesheet" type="text/css" href="css/korisnik.css"/>

</head>
<body>
<h2>EUprava</h2>
<nav>
    <div class="navigation">
        <ul>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
            ><a href="korisnici" >Korisnici</a></li>
            <li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">
                <a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
            <li><a href="vesti">Vesti</a></li>
            <li><a href="vestiOObolelima">Statistika o obolelima</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
                <a href="primljeneVakcine">Primljene vakcine</a></li>
            <li  th:if="${session.korisnik != null}">
                <a href="prijaveZaVakcinaciju">Prijava za vakcinaciju</a></li>
            <li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() != 'PACIJENT'}">
                <a href="nabavke">Nabavka</a></li>
        </ul>
    </div>
</nav>

<section class="registrationForm">
    <div class = "registrationForm">
        <table th:unless="${session.korisnik == null}">

            <tr>
                <td colspan="2">
                    <ul>
                        <li><a href="korisnici/logout">Odjava</a></li>
                    </ul>
                </td>
            </tr>
        </table>
        <table th:if="${session.korisnik == null}">
            <tr><th>Niste prijavljeni</th></tr>
            <tr>
                <td>
                    <ul>
                        <li><a href="registracija.html">Registracija</a></li>
                        <li><a href="prijava.html">Prijava</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</section>

<section class="content">
    <div class = "content" th:if="${vakcine}">

        <table  class="tabela">
            <caption>Vakcine</caption>
            <tr>
                <th>Redni broj:</th>
                <th></th>
                <th>Naziv</th>
                <th>Dostupna kolicina</th>
                <th>Proizvodjac vakcine</th>
                <th>Drzava proizvodnje</th>



                <th></th>
            </tr>
            <form  class= "searcn-form" method="post"  action="vakcine/search" >
                <tr>
                    <th></th>
                    <th></th>
                    <th><input type="text" name="ime" th:value="${param.ime}"/></th>
                    <th>
                        min:<input type="number" min="0" th:value="${param.dostupnaKolicinaMin}?: '0'"  step="0.1" name="dostupnaKolicinaMin"/><br/>
                        max:<input type="number" min="0" th:value="${param.dostupnaKolicinaMax}?: '100'"  step="0.1" name="dostupnaKolicinaMax"/>
                    </th>
                    <th>
                        <select name="proizvodjac">
                            <option value=""></option>
                            <option th:each="itProizvodjacVakcine: ${proizvodjaciVakcine}"
                                    th:value="${itProizvodjacVakcine.proizvodjac}"
                                    th:text="|${itProizvodjacVakcine.proizvodjac}|"
                                    th:selected="${#strings.equals(itProizvodjacVakcine.proizvodjac, param.proizvodjac)}"></option>
                        </select>

                    </th>
                    <th>
                        <select name="drzava">
                            <option value=""></option>
                            <option th:each="itProizvodjacVakcine: ${proizvodjaciVakcine}"
                                    th:value="${itProizvodjacVakcine.drzavaProizvodnje}"
                                    th:text="|${itProizvodjacVakcine.drzavaProizvodnje}|"
                                    th:selected="${#strings.equals(itProizvodjacVakcine.drzavaProizvodnje, param.drzavaProizvodnje)}"></option>
                        </select>

                    </th>
                    <th>
                        <input type="submit"  value="Pretrazi" >
                    </th>

                </tr>

            </form>


            <tr th:each="itVakcina, status: ${vakcine}">
                <td class="broj" th:text="${(status.index + 1)+'.'}"></td>
                <td><a th:href="|vakcine/details?id=${itVakcina.id}|" th:text="${itVakcina.ime}"></a></td>
                <td th:text="${itVakcina.ime}"></td>
                <td class="broj" th:text="${itVakcina.dostupnaKolicina}"></td>
                <td th:text="|${itVakcina.proizvodjac.proizvodjac} |"></td>
                <td th:text="|${itVakcina.proizvodjac.drzavaProizvodnje} |"></td>

                <td>
                    <form  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
                           method="post" action="vakcine/delete" >
                        <input type="hidden"  name="id"  th:value="${itVakcina.id}">
                        <input type="submit"  value="Obriši" >
                    </form>
                </td>
            </tr>

        </table>
    </div>
</section>
<div class = 'btn'>
    <a  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
        href="vakcine/add" class = "btn">Dodaj vakcinu</a>
</div>
</body>
</html>