<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/Index.css"/>
	<link rel="stylesheet" type="text/css" href="css/test.css"/>
	<link rel="stylesheet" type="text/css" href="css/pocetna.css"/>



	<style>
		body {
			background-color: #a9d4a3; /* Ovde zamenite sa željenom bojom */
		}
	</style>
	<style>
		/* Stilizacija za naslov */
		h1 {
			font-size: 36px; /* Veličina fonta */
			color: #333; /* Boja teksta */
			text-align: center;
			margin-top: 20px;
		}
	</style>
	<title>EUprava</title>

</head>
<body>

<h2>EUprava</h2>

<nav>
	<div class="navigation">
		<ul>
			<li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}"
			><a href="korisnici" >Korisnici</a></li>
			<li th:if="${session.korisnik != null }"><a href="vakcine">Vakcine</a></li>
			<li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'ADMINISTRATOR'}">
				<a href="proizvodjaciVakcine">Proizvodjaci vakcine</a></li>
			<li><a href="vesti">Vesti</a></li>
			<li><a href="vestiOObolelima">Izvestaj o obolelima</a></li>
			<li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
				<a href="primljeneVakcine" >Primljene vakcine</a></li>
			<li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() == 'PACIJENT'}">
				<a href="primljeneVakcine">Primljene vakcine</a></li>
			<li  th:if="${session.korisnik != null}">
				<a href="prijaveZaVakcinaciju">Prijava za vakcinaciju</a></li>
			<li  th:if="${session.korisnik != null && session.korisnik.uloga.toString() != 'PACIJENT'}">
				<a href="nabavke">Nabavka</a></li>
			<li><a th:if="${session.korisnik == null }" href="">Pocetna</a></li>

		</ul>
	</div>
</nav>

<br>
<br>
<br>


<table th:unless="${session.korisnik == null}">

	<tr><th>Prijavljeni ste kao</th><td><a th:href="|korisnici/details?id=${session.korisnik.id}|" th:text="${session.korisnik.email}"></a>.</td></tr>
	<tr>
		<td colspan="2">
			<ul>
				<li><a href="korisnici/logout">Odjava</a></li>
			</ul>
		</td>
	</tr>
</table>
<table th:if="${session.korisnik == null}">
	<tr><th>Niste prijavljeni</th></tr>
	<tr>
		<td>
			<ul>
				<li><a href="registracija.html">Registracija</a></li>
				<li><a href="prijava.html">Prijava</a></li>
			</ul>
		</td>
	</tr>
</table>

</body>
</html>